html,
body {
  margin: 0 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 0;
}

.main {
  margin: 0 0;
  height: 100%;
  background-color: white;
}

.main .start-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}

.main .start-layer .btn {
  font-size: 8vw;
  padding: 10px;
  margin-top: 20px;
  background-color: ghostwhite;
  border: 1px solid #ccc;
}

.main .process-layer {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: white;
}

.main .process-layer .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.main .process-layer .content .top {
  width: 100%;
  text-align: right;
}

.main .process-layer .content .top .btn {
  font-size: 4vw;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  color: #aaa;
  text-decoration: underline;
}

.main .process-layer .content .center {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .process-layer .content .center .loader {
  color: #ccc;
  position: relative;
  font-size: 11px;
  background: #ccc;
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}

.main .process-layer .content .center .loader:before,
.main .process-layer .content .center .loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2em;
  background: #ccc;
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}

.main .process-layer .content .center .loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.main .process-layer .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: midnightblue;
}

.main .process-layer .header .logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .process-layer .header .logo img {
  height: 70%;
  width: auto;
}

.main .process-layer .header .title {
  flex-grow: 1;
  font-size: 4vw;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.main .process-layer .header .back {
  flex-grow: 1;
}

.main .process-layer .content .bottom {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.main .process-layer .content .bottom .text {
  color: slategray;
}

.logger-button {
  position: fixed;
  top: 30%;
  right: 0px;
  border: 1px solid black;
  background-color: #ccc;
}

.logger {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
}
.logger .close {
  border: 1px solid #ccc;
  color: white;
}

.logger pre {
  font-size: 3vw;
  color: white;
}
